.lobby-title{
   color: white;
   text-align: center;
}

.lobby-page-content{
   text-align: center;
   color: white;
}

.all-buttons{
   display: flex;
   flex-direction: row;
   justify-content: center;
   grid-template-columns: auto auto auto;
}

button {
   background-color: white;
   width: 150px;
   height: 150px;
   border-radius: 5px;
   font-family: "Anton", sans-serif;
   font-weight: 700;
   font-size: 20px;
}