.APP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.go-back-button{
    background-color: #383838;
    color: white;
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 16px;
    font-weight: 600;
    width: 110px;
    height: 40px;
    border-radius: 5px;
}

.title-one-page{
    margin-top: 30px;
    display: flex;
    text-align: center;
}

.subject-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: #383838;
    color: white;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    font-weight: 600;
    border-radius: 5px;
}


.language-name{
    background-color: #383838;
    font-weight: 600;
    font-size: 16px;
    height: 5vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.code-content{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.input-content{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    text-align: center;
}


@media (max-width: 700px) {
    .go-back-button{
        top: 3%;
        left: 2%;
        font-size: 12px;
        width: 80px;
        height: 30px;
    }

    .title-one-page{
        margin-top: 70px;
        display: flex;
        text-align: center;
    }
}