.APP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-one-page{
    margin-top: 30px;
    display: flex;
    text-align: center;
}

.subject-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: #383838;
    color: white;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    font-weight: 600;
    border-radius: 5px;
}

.code-content{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.language-name{
    background-color: #383838;
    font-weight: 600;
    font-size: 16px;
    height: 5vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-content{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    /* margin-top: 100px; */
    text-align: center;
}

